:root{
    --theme-color:#2573DA;
    --background-color:#f1f3f5;
    --theme-font:'Inter', sans-serif;
}

body{
    background-color: var(--background-color);
    font-family: var(--theme-font);
    margin: 0;
    padding: 0;
}

a{
    color:var(--theme-color);
    text-decoration: none;
}

/* Navbar */
.navbar{
    background-color:white;
}

.navbar-brand{
    font-weight: 600;
    font-size: 25px;
}

.navbar-brand span{
color: var(--theme-color);
}

.nav-link{
    margin: 0 0.5rem;
}

.login-btn, .login-btn:hover{
    background-color:var(--theme-color);
    color:white;
    padding: 0.5rem 1rem !important;
    min-width: 10rem;
    border-radius: 2rem;
}


/*---------------------------------- Login Page --------------------------------*/

.login-main{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-card{
    border: none;
    border-radius: 15px;
    min-height: 50vh;
}

.login-card-body h1{
    text-align: center;
    font-size: 1.5rem;
    color: var(--theme-color);
    font-weight: 600;
}

.login-card-body p{
    font-size: 0.8rem;
    font-weight: 300;
    text-align: center;
    color: grey;
    margin-bottom: 2rem;
}

.login-card-body .form-control{
    border: none;
    border-bottom: 2px solid grey;
    border-radius: 0;
    font-size: 0.9rem;
}

.login-card-body .input-group-text{
    border: none;
    border-radius: 0;
    background: transparent;
    border-bottom: 2px solid grey;
}

.login-card-body .input-group .btn{
    border:none;
    border-bottom: 2px solid grey;
    border-radius: 0;
}

.login-card-body .input-group .btn:hover{
    border: none;
    border-bottom: 2px solid grey;
    border-radius: 0;
}

.form-control:focus{
    outline: none;
    box-shadow: none;
}

.forgot-password{
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--theme-color);
    top: -0.4rem;
    position: relative;
    display: block;
    margin-bottom: 1rem;
    text-align: right;
}

.page-change{
    font-size: 0.8rem;
    font-weight: 300;
    margin: 1rem auto 0 auto;
    text-align: center;
    display: block;
}